<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Create navigation bar and logo -->
    <nav class="navbar navbar-expand-lg navbar-fixed-top" style="background-color: #95B196;">
        <div class="container">
            <a class="navbar-brand" href="index.html" style="margin-left: 2em;"><img alt="logo" src="/images/Logo.png" width="80em" ></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 3em;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#query">Query calories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#dh">Daily recommendation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Personal/Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

 
    <div class="container">

           
        <!-- Create about area -->
        <div class="row" id="about">
            <div class="col">
                <img src="images/home2.png" class="img-home" alt="home page image 1">
            </div>
            <div class="col about">
                <h1>Why we make this</h1>
                <h4>fdasfadsfdsafadfafdasfads</h4>
            </div>
        </div>

        <!-- Create calorie calculator area -->
        <div class="row" id="query">
            <div class="col about">
                <h1>Query calories</h1>
                
                <div class="input-group mb-3" style="width: 20em; margin: auto; margin-top: 2em;">
                    <input type="text" class="form-control" placeholder="Enter ingredients" aria-label="Ingredients" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="button" style="margin-left: 1em;">Search</button>
                    </div>
                </div>

                <input type="text" class="form-control" style="width: 15em; margin: auto; margin-top: 2em;" id="calories">
            </div>
            <div class="col">
                <img src="images/home1.png" class="img-home" alt="home page image 2">
            </div>
        </div>

        <!-- Create daily recommendation area -->
        <div class="container" style="margin-top: 2em;">
            <div class="row">
                <div class="col">
                    
                </div>
                <div class="col">
                    <h2 style="text-align: center;" id="dh">Daily recommendation</h2>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger" style="margin: auto;">Use my own</button>
                </div>
            </div>
        </div>

        <% if (locals.isLogin){ %>

        <!-- Create calendar style recipe recommendation area -->
        <div class="container" style="margin-top: 3em;">

            <!-- Specify the day of the week -->
            <div class="row qc">
                <div class="col">
                    SUN
                </div>
                <div class="col">
                    MON
                </div>
                <div class="col">
                    TUE
                </div>
                <div class="col">
                    WED
                </div>
                <div class="col">
                    THU
                </div>
                <div class="col">
                    FRI
                </div>
                <div class="col">
                    SAT
                </div>
            </div>

            <!-- Set up a daily recommended recipe grid for recipe images -->
            <div class="row qc"  style="margin-top: 2em;">
                <div class="col">
                    <img src="images/r1.jpg" style="width: 100%;">
                    <h><% locals.recipes_info</h>
                </div>
                <div class="col">
                    <img src="images/r1.jpg" style="width: 100%;">
                    <h>Vegetable Salad</h>
                </div>
                <div class="col">
                    <img src="images/r1.jpg" style="width: 100%;">
                    <h>Vegetable Salad</h>
                </div>
                <div class="col">
                    <img src="images/r1.jpg" style="width: 100%;">
                    <h>Vegetable Salad</h>
                </div>
                <div class="col">
                    <img src="images/r1.jpg" style="width: 100%;">
                    <h>Vegetable Salad</h>
                </div>
                <div class="col">
                    <img src="images/r1.jpg" style="width: 100%;">
                    <h>Vegetable Salad</h>
                </div>
                <div class="col">
                    <img src="images/r1.jpg" style="width: 100%;">
                    <h>Vegetable Salad</h>
                </div>
            </div>

            <div class="row qc"  style="margin-top: 2em;">
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
            </div>


            <div class="row qc"  style="margin-top: 2em; padding-bottom: 5em;">
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
                <div class="col">
                    <img src="images/r2.jpg" style="width: 100%;">
                    <h>French Toast</h>
                </div>
            </div>
            <% } else { %>


                <div class="container" style="margin-top: 3em;">
                    <div>This is aviliable for Login Users.</div>
                </div>
            <% } %>
        </div>


    </div>


    
	
	
</body>

</html>
