@charset "UTF-8";
/* CSS Document */

#backgroundColor {
	background-color:#C2D2B5;
}

.nav-link {
	font-size: large;
	color: black;
	margin-left: 1em;
}

.container {
	height: 4em;
}

#bk {
	background-color: #C2D2B5;
}

.img-home {
	width: 20em;
	margin-top: 5em;
	margin-left: 3em;
}

.about {
	margin-top: 5em;
	text-align: center;
}

.qc {
	text-align: center;
}

body {
	background-color:#C2D2B5;
}

.input-group-text {
	background-color: #C2D2B5;
	border: none;
}

.mb-3 {
	width: 20em;
	margin: auto;
}

.mb-4 {
	width: 100%;
	margin: auto;
	text-align: center;
}

.mb-5 {
	width: 80%;
	margin: auto;
	text-align: center;
}

.mb-6 {
	width: 50%;
	margin: auto;
	text-align: center;
	margin-top: 1.5em;
}

.cen {
	text-align: center;
}

.info {
	max-width: 15em;
	background-color: azure;
	margin-right: 0;
}